body {
  background-image: url('https://images.wallpaperscraft.com/image/single/exoplanet_atmosphere_clouds_stars_moon_mist_mountains_rocks_101205_1920x1080.jpg');
  color: aliceblue;
}

h1, h5 {
  text-align: center;
}